<section class="hero">
  <div class="hero-body">
    <div class="container">
    <figure class="image is-4by3">
      <img src="data:image/png;base64, <%= @image %>" alt="Red dot" />
      </figure
    </div>
  </div>
</section>
